@font-face {
    font-family: "dreaming-outloud";
    src: local("dreaming-outloud"), url("../font/dreaming-outloud-regular.otf");
 }


*{  
    font-family: 'dreaming-outloud', cursive;
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

body, html{
    color: white;
    width: 100%;
    height: 100%;
    background-image: url(../img/fundo-desfocado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.none{
    width: 33%;
}

.container-header{
    background-color: rgba(117, 16, 10, 0.6);
    padding: 10px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-header .logo{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-header .logo h1{
    font-size: 2em;
}

.container-header .logo img{
    width: 45px;
}

.container-header .option-buttons{
    text-align: right;
    width: 33%;
    position: relative;
}

.container-header .option-buttons button{
    color: white;
    width: 40px;
    height: 40px;
    background-color: #BF1010;
    font-size: 1.4em;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 10px;
    vertical-align: middle;
    transition: all .1s linear;
    cursor: pointer;
}

.container-header .option-buttons button:hover{
    font-size: 1.5em;
    background-color: #a50f0f;
}

#set-times{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 130px;
    top: 40px;
    left: 70px;
    transition: all .5s ease-in-out;
}

#set-times-button:hover + #set-times{
    opacity: 1;
    visibility: visible;
}

#definition{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 130px;
    top: 40px;
    left: 125px;
    transition: all .5s ease-in-out;
}

#definition-button:hover + #definition{
    opacity: 1;
    visibility: visible;
}

.container{
    padding: 25px 20px;
    background-color: rgba(117, 16, 10, 0.7);
    border: solid 2px rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 170px auto;
    position: relative;
}

.container #mute-hover, #switch-mode-hover, #reset-hover{
    display: none;
}

.container #mute{
    position: absolute;
    left: 15%;
    top: 9%;
    font: 1.4em;
}

.container h2{
    font-weight: 400;
    font-size: 2.5em;
}

.container #img-rest{
    display: none;
}

.container #img-focus, #img-rest{
    width: 270px;
}

.container #time{
    margin-top: -10px;
    font-size: 1.3em;
}

.container .progress-bar{
    width: 90%;
    height: 3px;
    background-color: #797979;
    border-radius: 10px;
    padding: 0;
}

.container .progress{
    width: 80%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.container .progress-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.85em;
}

.container .controls{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container .controls i{
    padding-top: 5px;
}

.container .controls #play-pause{
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 2.5em;
    color: #FF5757;
    padding: 4px 5px 5px 7px;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
}

.container #switch-mode, #reset{
    font-size: 1.4em;
}